body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin: 0;
    
}
.orange-color{
    color: rgb(249, 105, 52);
}
.first{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.click{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    color: white;
    padding: 6px 16px;
    margin: 20px;
    border-radius: 15px;
}
.socend{
    display: flex;    
}
.expri{
    margin-left: 60px;
    font-size: 28px;
    color: rgb(0, 255, 123);
}
.socend-tag{
    margin: 5%;
    background-color: rgba(0, 255, 255, 0.277);
    padding: 50px 20px;
    text-align: justify;
    border-left: 5px solid rgb(39, 58, 77);
    border-top-left-radius: 50px;
    border-right-color: 4px solid rgb(0, 189, 85);
    border-bottom-right-radius: 50px;
    box-shadow: 0px 20px 40px 0px gray;
}
